.episode-card {
    display: flex;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.505);
    color: #9ee700;
    border-radius: 15px;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    
}

h4 {
    font-size: 25px;
}

.toggle-details-button {
    background-color: #9ee700ca;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-details-button:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: #9ee700;

}

.episode-details {
    margin: 45px auto;
    background-color: rgba(0, 0, 0, 0.217);
    width: 350px;
    padding: 10px 20px;
    height: 100px;
    overflow-y: scroll;
}